global:
  storageClass: "local-path"
auth:
  existingSecret: cosy-postgresql-credentials
  existingSecretUsernameKey: postgresql-username
  existingSecretPasswordKey: postgresql-password
  database: cosy
primary:
  persistence:
    enabled: true
    size: 5Gi
